<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Interview Management System</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/employeeManageInterview"
          >Manage Interview</a
        >
      </li>
    </ul>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="logout()">
      Log out
    </button>
  </div>
</nav>
