<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Interview Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
     
        <li class="nav-item">
          <a class="nav-link active" routerLink="/viewCandidate">View Applications</a>
        </li>

        <li ngbDropdown class="nav-item active dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Employee</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addEmployee">Add Employee</a>
            <a class="dropdown-item" routerLink="/manageEmployee">Manage Employee</a>
          </div>
        </li>
        
        <li ngbDropdown class="nav-item active dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interview</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/addInterview">Add Interview</a>
            <a class="dropdown-item" routerLink="/manageInterview">Manage Interview</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="/manageResult">Manage Result</a>
        </li>
      </ul>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="logout()">Log out</button>
    </div>
  </nav>
