<app-candidate></app-candidate>
<div class="container" id='center'>
    <div class="jumbotron">
    <form #userForm="ngForm" (ngSubmit)='userForm.form.valid && isValidRole && addCandidate(userForm.value)' >
        <h3>Apply for a Role</h3><br>
          <div class="form-group col-md-10">
            <label for="firstname">First Name<span class="marker">*</span></label>
            <input type="text" class="form-control" name="firstName" placeholder="Enter First Name" #firstName="ngModel" ngModel required>
          </div>
          <div class="text-danger">
            <small *ngIf="(firstName.touched || userForm.submitted) && firstName.errors?.required">First name is required</small>
          </div>
          <br/>
          <div class="form-group col-md-10">
            <label for="lastname">Last Name<span class="marker">*</span></label>
            <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name" #lastName="ngModel" ngModel required>
          </div>
          <div class="text-danger">
            <small *ngIf="(lastName.touched || userForm.submitted) && lastName.errors?.required">Last name is required</small>
          </div>
          <br/>

          <div class="form-group col-md-10">
            <label for="email">Email Address<span class="marker">*</span></label>
            <input type="email" class="form-control" name="emailId" placeholder="Enter Email Address" (change)="setEmail(emailId.value)" pattern="^[\w!#$%&’*+/=?`{|}~^-]+(?:\.[\w!#$%&’*+/=?`{|}~^-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,6}$" #emailId="ngModel" ngModel required>
          </div>
          <div class="text-danger">
            <small *ngIf="(emailId.touched || userForm.submitted) && emailId.errors?.required">Email address is required</small>
            <small *ngIf="emailId?.errors?.pattern">Enter a valid email address</small>
          </div>
          <br/>
          
          <div class="form-group col-md-10">
            <label for="phone">Phone Number<span class="marker">*</span></label>
            <input type="text" class="form-control" name="phoneNumber" placeholder="Enter Phone Number" #phoneNumber="ngModel" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" ngModel required>
          </div>
          <div class="text-danger">
            <small *ngIf="(phoneNumber.touched || userForm.submitted) && phoneNumber.errors?.required">Phone number is required</small>
            <small *ngIf="phoneNumber?.errors?.pattern">Enter a valid phone number</small>
          </div>
          <br/>

          <div class="form-group col-md-10">
            <label for="role">Role<span class="marker">*</span></label>
            <select onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' class="form-control"  name="jobRole"  #jobRole="ngModel" (change)="setRole(jobRole.value)" ngModel required>
              <option value="" selected disabled>Choose Role</option>
                <option *ngFor = "let role of jobRoles" [value]='role[1]'>{{role[1]}}</option>
            </select>
          </div>
          <div class="text-danger">
            <small *ngIf="(jobRole.touched || userForm.submitted) && jobRole.errors?.required">Job role is required</small>
          <small *ngIf="!isValidRole">You already applied for this role. You can apply for this role only after 3 months</small>
          </div>
          <br/>
          <div class="form-group col-md-10">
            <label for="experience">Experience<span class="marker">*</span></label>
            <select onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' class="form-control" name="experience"  #experience="ngModel" ngModel required>
              <option value="" selected disabled>Choose Experience</option>
              <option *ngFor = "let exp of experienceArray" [value]='exp[1]'>{{exp[1]}}</option>
          </select>
          </div>
          <div class="text-danger">
            <small *ngIf="(experience.touched || userForm.submitted) && experience.errors?.required">Experience is required</small>
          </div>
          <br/>
          <div class="form-group col-md-10">
            <label for="resumelink">Resume Link<span class="marker">*</span></label>
            <input type="text" class="form-control" name="resumeLink" placeholder="Enter Resume Link" #resumeLink="ngModel" ngModel required>
          </div>
          <div class="text-danger">
            <small *ngIf="(resumeLink.touched || userForm.submitted) && resumeLink.errors?.required">Resume link is required</small>
          </div>
          <br/>
         
          
        <button type="submit"   class="btn btn-primary ">Apply</button>
      </form>
</div>
</div>
