<app-admin></app-admin>
<div class="panel panel-primary text-center">
  <div class="panel-heading">
    <h2>Interview List</h2>
  </div>
  <br>
  <div class="panel-body" *ngIf="interviews.length > 0;else elseBlock">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Call Scheduled Date</th>
           <th>Call Scheduled Time</th>
           <th>Status</th>
           <th>Candidate Name</th>
           <th>Employee Name</th>
           <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interview of pageOfItems">
          <td>{{interview.interviewType}}</td>
          <td>{{interview.callScheduledDate | date}}</td>
          <td>{{interview.callScheduledTime}}</td>
          <td>{{interview.status}}</td>
          <td>{{interview.candidate?.firstName}} {{interview.candidate?.lastName}}</td>
          <td>{{interview.employee?.firstName}} {{interview.employee?.lastName}}</td>
            <td>
                <button *ngIf='interview.status!="Finished"' (click)="updateInterview(interview.id)" class="btn btn-info">Update</button>
                <button *ngIf='interview.status!="Finished" && interview.status!="Cancelled"' (click)="cancelInterview(interview)" class="btn btn-danger">Cancel</button>
                <button (click)="viewCandidateAndEmployee(interview.id)" class="btn btn-secondary">View</button>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer pb-0 pt-3">
      <jw-pagination [items]="interviews" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>
  <ng-template #elseBlock>
    <h5>No Interview is found at the moment</h5>
  </ng-template>
</div>




