<app-employee></app-employee>
<div class="panel panel-primary text-center">
  <div class="panel-heading">
    <h2>Interview List for {{employee.firstName}} {{employee.lastName}}</h2>
  </div>
  <br>
  <div class="panel-body" *ngIf="interviews.length > 0;else elseBlock">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Call Scheduled Date</th>
           <th>Call Scheduled Time</th>
           <th>Status</th>
           <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let interview of pageOfItems">
          <td>{{interview.interviewType}}</td>
          <td>{{interview.callScheduledDate | date}}</td>
          <td>{{interview.callScheduledTime}}</td>
          <td>{{interview.status}}</td>
            <td>
                <button (click)="addResult(interview.id)" class="btn btn-primary" [disabled]='(interview.callScheduledDate > today || interview.callScheduledTime > currentTime)'>Add Result</button><br><br>
                <button (click)="viewCandidate(interview.candidate.id)" class="btn btn-secondary">View</button>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer pb-0 pt-3">
      <jw-pagination [items]="interviews" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>
  <ng-template #elseBlock>
    <h5>No Interview is found at the moment</h5>
  </ng-template>
</div>





